*
   {
       box-sizing: border-box;
    }
body 
    {
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        width: 100%;
    }
.main
    {
        padding: 0 7rem;
        @media (max-width:1000px)
          {
              padding: 0 1rem ;
          }
    }