/* footer */
footer
   {
      background-color: #353535;
      padding: 1rem 2rem;

   
   .logo-footer img
       {
         height: 1.2rem;
         filter: invert(100%);
         -webkit-filter: invert(100%);

       }
      p
      {
       color: white;
       font-size: smaller;
       i
       {
          font-size: 0.5rem;
          padding: 0.3rem;
       }
      }
   }