/* HEADER */
header {
    background-color: white;
    text-align: center;
    padding: 2rem;
    box-shadow: 0px 3px 3px 0px grey;
    position: relative;
    .logo img
    {
      height: 2rem;
    }
  }

  .loader {
    background: white;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 100;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disapear 0.2s 3s forwards;
  }
  
  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    border: 8px solid transparent;
    opacity: 1;
    width: 100px;
    height: 100px;
    
    
  }
  
  .inner.one {
    border-left: 8px solid #99E2D0;
    border-right: 8px solid #99E2D0;
    animation: rotate-left 1s infinite;
  }
  
  .inner.two {
    border-top: 8px solid #FF79DA;
    border-bottom: 8px solid #FF79DA;
    animation: rotate-left 2s infinite;
  }
  
  .inner.three {
    border-top: 8px solid #9356DC;
    border-bottom: 8px solid #9356DC;
    animation: rotate-left 3s infinite;
  }
  
  
  @keyframes rotate-left {
    100% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes disapear {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
