.search-city
   {
     background-color: #f3f3f3;
     padding: 0.3rem;
     font-size: small;
     display: flex;
     align-items: center;
     justify-content: center;
     i{
      padding: 1.5rem ;
      font-size:medium;  
    }
   }

  
/* RESEARCH */

main .research 
   {
      text-align: center;
      background-color: #f0eaea;
      padding-top: 1rem;
   }
.grad
   {   
      background: rgb(147,86,220);;
      background-image: linear-gradient(0deg, rgba(147,86,220,1) 16%, rgba(255,121,218,1) 100%);
      padding: 1rem;
      border-radius: 1.5rem;
      border: none;
      color: white;
      font-size: 1rem;
      transition: all, 200ms ;
      margin-bottom: 2rem;
      margin-top: 1rem;
      box-shadow: 0px 1px 1px 1px GREY;
   }
button:hover
   {
      transform: scale(1.05);
      opacity: 0.8;
   }
/* WORKING */
.working
   {
      padding: 0rem 1rem 1rem 1rem
   }
.block
  {
     display: flex;
     margin-bottom: 1rem;
     border-radius: 2rem;
     background-color: #f6f6f6;
     margin-left: 10px;
     align-items: center;
     i
   {
      display: flex;
      align-items: center; 
      padding: 1rem;
      text-align: center;
   }
   .number
   {
      display: flex;
      border-radius: 50%;
      background-color: rgb(147,86,220);
      color: white;
      width: 2rem;
      height: 2rem;
      position:absolute;
      place-items: center;
      justify-content: center;
      left: 2px;

   }
  }
  .block:hover
  {
     transform: scale(1.5);
     opacity: 0.8;
  }
 