.search-city
   {
     background-color: lightgray;
     padding: 0.3rem;
     font-size: small;
     display: flex;
     align-items: center;
     justify-content: center;
     i{
      padding: 1.5rem ;
      font-size:medium;  
    }
   }

  
/* RESEARCH */

main .research 
   {
      text-align: center;
      background-color: #f3f3f3;
      padding-top: 1rem;
   }
.grad
   {   
      background: rgb(147,86,220);;
      background-image: linear-gradient(0deg, rgba(147,86,220,1) 16%, rgba(255,121,218,1) 100%);
      padding: 1rem;
      border-radius: 1.5rem;
      border: none;
      color: white;
      font-size: 1rem;
      transition: all, 200ms ;
      margin-bottom: 2rem;
      margin-top: 1rem;
      box-shadow: 0px 1px 1px 1px GREY;
   }
button:hover
   {
      transform: scale(1.05);
      opacity: 0.8;
   }
/* WORKING */
.working
   {
      padding: 0rem 1rem 1rem 1rem;

       display: flex;
       flex-direction: column;
      .block-card
        {
         align-self: center;
        }
   }

.block
  {
   background-color: #F5F5F5;
    border-radius: 20px;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 1rem 2rem;
   box-shadow: 0.2rem 0.8rem 1rem rgb(0 0 0 / 15%);
   transition: background-color 0.2s;
   margin-bottom: 2rem;
     .ic
   {
      width: 32px;
      color: grey;

   }
   .number
   {
      display: flex;
      border-radius: 50%;
      background-color: rgb(147,86,220);
      color: white;
      width: 2rem;
      height: 2rem;
      position:relative;
      place-items: center;
      justify-content: center;
      margin-left: -100px;
      padding: 0rem 0.8rem;
   }
  }
  .block:hover
  {
     transform: scale(1.5);
     opacity: 0.8;
  }
 