@import "./sass/base.scss";
@import "./sass/layout/header.scss";
@import "./sass/layout/Search.scss";
@import "./sass/pages/restaurant.scss";

/* Result*/
.menu
{
   background-color: #f6f6f6;
   padding: 32px 16px;
  
}
.restaurant-card
 {
   display: flex;
   flex-wrap: wrap;
   gap: 16px;
   justify-content: space-around;
   margin-bottom: 16px;
   flex-direction: column;
   
 }
.card-menu
{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 16px #0000002e;
    transition: all 0.2s;
    flex-basis: 30%;
    position: relative;
    text-decoration: none;
    align-content: center;

     img
     {
       height: 12rem;
       object-fit: cover;
       width: 100%;
       border-radius: 16px 16px 0 0;
     }
     .new
      {
         position: absolute;
         background-color: #99e2d0;
         color: #1b6150;
         padding: 0.5rem;
         border-radius: 0.125rem;
         top: 1rem;
        right: 0.75rem;
      }
      .description 
      {
         margin-left: 16px;
         color: black;
         display: flex;
         position: relative;
         justify-content: space-between;
         align-items: center;
         i
         {
            font-size: 2rem;
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
         }
         .fa-solid  
            {
               color: transparent;
               background-image: linear-gradient(0deg, rgba(147,86,220,1) 16%, rgba(255,121,218,1) 100%);
               background-clip: text;
               -webkit-background-clip: text;
               opacity: 0;
               transition: all 0.3s linear 0.2s;
            }
         &:hover .fa-solid
             {
                opacity: 1;
             }
         
      }
   }


/* footer */
footer
   {
      background-color: #353535;
      padding: 1rem 2rem;

   
   .logo-footer img
       {
         height: 1.2rem;
         filter: invert(100%);
         -webkit-filter: invert(100%);

       }
      p
      {
       color: white;
       font-size: smaller;
       i
       {
          font-size: 0.5rem;
          padding: 0.3rem;
       }
      }
   }

     

