* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.main {
  padding: 0 7rem;
}
@media (max-width: 1000px) {
  .main {
    padding: 0 1rem;
  }
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  background-color: white;
  text-align: center;
  padding: 2rem;
  box-shadow: 0px 3px 3px 0px grey;
  position: relative;
}
header .logo img {
  height: 2rem;
}

.loader {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disapear 0.2s 3s forwards;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  border: 8px solid transparent;
  opacity: 1;
  width: 100px;
  height: 100px;
}

.inner.one {
  border-left: 8px solid #99E2D0;
  border-right: 8px solid #99E2D0;
  animation: rotate-left 1s infinite;
}

.inner.two {
  border-top: 8px solid #FF79DA;
  border-bottom: 8px solid #FF79DA;
  animation: rotate-left 2s infinite;
}

.inner.three {
  border-top: 8px solid #9356DC;
  border-bottom: 8px solid #9356DC;
  animation: rotate-left 3s infinite;
}

@keyframes rotate-left {
  100% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disapear {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.search-city {
  background-color: lightgray;
  padding: 0.3rem;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-city i {
  padding: 1.5rem;
  font-size: medium;
}

/* RESEARCH */
main .research {
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 1rem;
}

.grad {
  background: rgb(147, 86, 220);
  background-image: linear-gradient(0deg, rgb(147, 86, 220) 16%, rgb(255, 121, 218) 100%);
  padding: 1rem;
  border-radius: 1.5rem;
  border: none;
  color: white;
  font-size: 1rem;
  transition: all, 200ms;
  margin-bottom: 2rem;
  margin-top: 1rem;
  box-shadow: 0px 1px 1px 1px GREY;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

/* WORKING */
.working {
  padding: 0rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
}
.working h2 {
  padding: 16px;
}
.working .block-card {
  align-self: center;
}

.block {
  background-color: #F5F5F5;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0.2rem 0.8rem 1rem rgba(0, 0, 0, 0.15);
  transition: background-color 0.2s;
  margin-bottom: 2rem;
}
.block .ic {
  width: 32px;
  color: grey;
  margin-left: 14px;
}
.block .number {
  display: flex;
  border-radius: 50%;
  background-color: rgb(147, 86, 220);
  color: white;
  width: 2rem;
  height: 2rem;
  position: relative;
  place-items: center;
  justify-content: center;
  margin-left: -48px;
  padding: 0rem 0.8rem;
}

.block:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

@media (min-width: 700px) {
  .block-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 36px;
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
}
.header .back {
  background-color: transparent;
}
.header h1 {
  font-family: "Shrikhand", "sans-serif";
}
.header i {
  font-size: x-large;
}
.header i:hover {
  transform: scale(1.05);
}

.resto-card {
  position: relative;
  margin-top: -99px;
  border-radius: 34px 34px 0 0;
  background-color: #f6f6f6;
}

.pic img {
  display: block;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: top;
}

.menu1 {
  border-radius: 16px 16px 0 0;
}

.name h2 {
  font-family: "Shrikhand", "sans-serif";
  padding: 16px 16px 0 0;
  margin-left: 30px;
  margin-bottom: 20px;
}

.icone i {
  font-size: 36px;
  position: absolute;
  right: 36px;
  top: 36px;
  transform: translateY(-50%);
}
.icone .fa-solid {
  color: transparent;
  background-image: linear-gradient(0deg, rgb(147, 86, 220) 16%, rgb(255, 121, 218) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.3s linear 0s;
}
.icone:hover .fa-solid {
  opacity: 1;
}

/* corp */
.cardmenu {
  padding: 0 16px;
}
.cardmenu .flat {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
@media (max-width: 1000px) {
  .cardmenu .flat {
    grid-template-columns: 1fr;
  }
}
.cardmenu .flat h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
.cardmenu .flat h3::after {
  content: "";
  height: 3px;
  width: 45px;
  top: 24px;
  left: 0;
  background-color: #99e2d0;
  position: absolute;
}
.cardmenu .flat .menu-group {
  background-color: white;
  border-radius: 16px;
  margin-left: 16px;
  overflow: hidden;
  box-shadow: 2px 1px 8px -3px #000000;
  animation-fill-mode: both;
  animation: appear ease-in 1s;
}
.cardmenu .flat .menu-group:nth-child(1) {
  animation-delay: 50ms;
}
.cardmenu .flat .menu-group:nth-child(2) {
  animation-delay: 100ms;
}
.cardmenu .flat .menu-group:nth-child(3) {
  animation-delay: 150ms;
}
.cardmenu .flat .menu-group:nth-child(4) {
  animation-delay: 200ms;
}
.cardmenu .flat .menu-group:nth-child(5) {
  animation-delay: 250ms;
}
.cardmenu .flat .menu-group:nth-child(6) {
  animation-delay: 300ms;
}
.cardmenu .flat .menu-group:nth-child(7) {
  animation-delay: 350ms;
}
.cardmenu .flat .menu-group:nth-child(8) {
  animation-delay: 400ms;
}
.cardmenu .flat .menu-group:nth-child(9) {
  animation-delay: 450ms;
}
.cardmenu .flat .menu-group:nth-child(10) {
  animation-delay: 500ms;
}
.cardmenu .flat .menu-group:nth-child(11) {
  animation-delay: 550ms;
}
.cardmenu .flat .menu-group:nth-child(12) {
  animation-delay: 600ms;
}
.cardmenu .flat .menu-group:nth-child(13) {
  animation-delay: 650ms;
}
.cardmenu .flat .menu-group .item {
  border-radius: 16px;
  display: flex;
  overflow: hidden;
}
.cardmenu .flat .menu-group .item .menu-description {
  padding: 16px;
  overflow: hidden;
}
.cardmenu .flat .menu-group .item .menu-description p {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cardmenu .flat .menu-group .item .menu-description h4 {
  overflow: hidden;
  white-space: nowrap;
}
.cardmenu .flat .menu-group .item .price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: 900;
  padding: 16px;
  overflow: hidden;
  white-space: nowrap;
}
.cardmenu .flat .menu-group .item .anim-ok {
  border-radius: 0 16px 16px 0;
  background-color: #99e2d0;
  margin-right: -64px;
  width: 64px;
  display: grid;
  place-items: center;
  flex-shrink: 0;
  transition: all 0.5s;
}
.cardmenu .flat .menu-group .item .anim-ok i {
  background-color: #99e2d0;
  color: white;
  font-size: 36px;
  transition-duration: 0.8s;
}
.cardmenu .flat .menu-group .item:hover {
  cursor: pointer;
}
.cardmenu .flat .menu-group .item:hover .anim-ok {
  margin-right: 0;
}
.cardmenu .flat .menu-group .item:hover .anim-ok i {
  transform: rotate(360deg);
}

section.commander {
  height: 20vh;
  display: grid;
  place-items: center;
}
section.commander button {
  background: rgb(147, 86, 220);
  background-image: linear-gradient(0deg, rgb(147, 86, 220) 16%, rgb(255, 121, 218) 100%);
  padding: 16px;
  border-radius: 1.5rem;
  border: none;
  color: white;
  font-size: 16px;
  transition: all, 200ms;
  margin-bottom: 2rem;
  margin-top: 16px;
  box-shadow: 0px 1px 1px 1px GREY;
  cursor: pointer;
}
section.commander:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/* Result*/
.menu {
  background-color: #f6f6f6;
  padding: 32px 16px;
}
.menu h3 {
  padding: 7px;
}
.menu p {
  padding: 7px;
}

.restaurant-card {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  flex-direction: column;
  padding: 16px;
}

.card-menu {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569);
  transition: all 0.2s;
  flex-basis: 30%;
  position: relative;
  text-decoration: none;
  align-content: center;
}
.card-menu img {
  height: 12rem;
  object-fit: cover;
  width: 100%;
  border-radius: 16px 16px 0 0;
}
.card-menu .new {
  position: absolute;
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  top: 1rem;
  right: 0.75rem;
}
.card-menu .description {
  margin-left: 16px;
  color: black;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.card-menu .description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.card-menu .description .fa-solid {
  color: transparent;
  background-image: linear-gradient(0deg, rgb(147, 86, 220) 16%, rgb(255, 121, 218) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.3s linear 0.2s;
}
.card-menu .description:hover .fa-solid {
  opacity: 1;
}

@media (min-width: 700px) {
  .restaurant-card {
    flex-direction: row;
  }
}
/* footer */
footer {
  background-color: #353535;
  padding: 1rem 2rem;
}
footer .logo-footer img {
  height: 1.2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
footer p {
  color: white;
  font-size: smaller;
}
footer p i {
  font-size: 0.5rem;
  padding: 0.3rem;
}

/*# sourceMappingURL=style.css.map */
