@use "../utils/animation.scss";
* {
   margin:0;
   padding:0;
   }

.header
  { 
   display: flex;
   justify-content: space-between;
   padding: 8px;
   align-items: center;
     .back
       {
          background-color: transparent;
       }
    h1
    {
      font-family: "Shrikhand", "sans-serif";
   
    }
       i 
       {
         font-size: x-large;
       
       &:hover
       {
         transform: scale(1.05);
       }
      }
    }
   
.resto-card
  {
     position:relative;
     margin-top: -99px;
     border-radius: 34px 34px 0 0;
     background-color: #f6f6f6;

  }
.pic img
{ display: block;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: top;
}
.menu1
    {
      border-radius: 16px 16px 0 0;
      }
  
 .name h2
 { 
    font-family: "Shrikhand", "sans-serif";
    padding: 16px 16px 0 0; 
    margin-left: 30px; 
    margin-bottom: 20px;
 }
 .icone {
      i
         {
            font-size: 36px;
            position: absolute;
            right: 36px;
            top: 36px;
            transform: translateY(-50%);
         }
         .fa-solid  
            {
               color: transparent;
               background-image: linear-gradient(0deg, rgba(147,86,220,1) 16%, rgba(255,121,218,1) 100%);
               background-clip: text;
               -webkit-background-clip: text;
               opacity: 0;
               transition: all 0.3s linear 0s;
            }
            &:hover .fa-solid
             {
                opacity: 1;
             }
            }

/* corp */
.cardmenu 
{
   padding: 0 16px;
   
         .flat
          {
             
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 16px;
            
            @media (max-width: 1000px) 
            {
               grid-template-columns: 1fr;
            }
        
            
             h3 
             {
                text-transform: uppercase;
                font-weight: 400;
                position: relative;
                &::after
                  {
                     content: "";
                     height: 3px;
                     width: 45px;
                     top: 24px;
                     left: 0;

                     background-color: #99e2d0;
                     position: absolute;
                  }
             
             }
             
             .menu-group
              {
                 
               background-color: white;
               border-radius: 16px;
               margin-left: 16px;
               overflow: hidden;
               box-shadow: 2px 1px 8px -3px #000000;
               animation-fill-mode: both;
               animation: appear ease-in 1s ;
               @for $i from 1 through 13
               {
                  &:nth-child(#{$i})
                   {
                      animation-delay: 50ms * $i;
                   }
               }
               
               
               
              
               .item
               {  
                  border-radius: 16px;
                  display: flex;
                  overflow: hidden;
                  
            
               
                  
                  
                
                  .menu-description
                    {
                       padding: 16px;
                       overflow: hidden;
                       
                       p
                        {
                           width: 100%;
                           overflow: hidden;
                          display: inline-block;
                          text-overflow: ellipsis;
                          white-space: nowrap;

                        }
                        h4 
                        {
                           overflow: hidden;
                           white-space: nowrap;
                        }
                    }
                  .price
                    {
                       display:flex ;
                       align-items: flex-end;
                      margin-left: auto;
                      font-weight: 900;
                      padding: 16px;
                      overflow: hidden;
                      white-space: nowrap;
                    }
                  .anim-ok
                    {  
                       border-radius: 0 16px 16px 0;
                       background-color: #99e2d0;
                       margin-right: -64px;
                       width: 64px;
                       display: grid;
                       place-items: center;
                       flex-shrink: 0;
                       
                       transition: all 0.5s;
                        i
                          {
                             background-color: #99e2d0;
                             color: white;
                             font-size: 36px;
                             transition-duration: 0.8s;
                          }  
                    }
                    &:hover {
                    cursor: pointer;   
                    .anim-ok
                     {
                       margin-right: 0;
                       
                       i
                        {
                           transform:rotate(360deg);
                        }
                     }
                    }
               }
              }
          }
}
section.commander {
   height: 20vh;
   display: grid;
   place-items: center;

button
        {
         background: rgb(147,86,220);;
         background-image: linear-gradient(0deg, rgba(147,86,220,1) 16%, rgba(255,121,218,1) 100%);
         padding: 16px;
         border-radius: 1.5rem;
         border: none;
         color: white;
         font-size: 16px;
         transition: all, 200ms ;
         margin-bottom: 2rem;
         margin-top: 16px;
         box-shadow: 0px 1px 1px 1px GREY;
         cursor: pointer;
        }
        &:hover
         {
            transform: scale(1.02);
            opacity: 0.9;
         }
      }